## Домашнее задание 1

Оформляйте ноутбук, используя эти советы: 

* Номер задачи - заголовок 2 
* Номер подзадачи - заголовок 3
* Предоставленные наборы данных оформляйте, как код

## Домашнее задание 2

На складе лежат разные фрукты в разном количестве. 

Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, 
а возвращает общее количество фруктов на складе.

In [4]:
def fruits(**kwargs):
    
    count_fruits = sum(kwargs.values())
    
    return f'Количество фруктов на складе = {count_fruits}'

In [5]:
print(fruits(orange = 15, pears=3, bananas=7, apple = 22))

Количество фруктов на складе = 47

## Домашнее задание 3

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты.

[100, 125, -90, 345, 655, -1, 0, 200]

Используйте list comprehensions.

In [6]:
list1 = [100, 125, -90, 345, 655, -1, 0, 200]

In [7]:
print([i for i in list1 if i > 0 ])

[100, 125, 345, 655, 200]

In [8]:
print(f'Затраты составляют =  {sum([i for i in list1 if i > 0 ])}')

Затраты составляют =  1425

## Домашнее задание 4

Даны два списка.

Дата покупки

['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам

[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### Задача 4.1

Найдите, какая выручка у компании в ноябре.

Используйте list comprehensions.

In [9]:
date_buy = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', 
        '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', 
        '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', 
        '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
        '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', 
        '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
sum_date = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 
        4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 
        2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [10]:
print([sum_date[i] for i in range(0, len(date_buy)-1) if "-11" in date_buy[i]])
print(f'Выручка за ноябрь: {sum([sum_date[i] for i in range(len(date_buy)-1) if "-11" in date_buy[i]])}')

[4944, 3701, 7037, 4274, 2004, 2822, 316]
Выручка за ноябрь: 25098

### Задача 4.2

Найдите выручку компании в зависимости от месяца.

Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.

Используйте аннотирование типов.

In [11]:
def revenue(data: list, gain: list) -> dict:
    
    revenue = {}
    
    for i in range(len(data)):
        
        if date_buy[i].split('-')[1] in revenue.keys():
            revenue[date_buy[i].split('-')[1]] += sum_date[i]
        else:
            revenue[date_buy[i].split('-')[1]] = sum_date[i]
            
    return revenue

print(revenue(date_buy, sum_date))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}

## Задание 5

### 5.1 Найдите картинку в интернете и прикрепите её в ячейку с текстом

<img src="https://blog.hyperiondev.com/wp-content/uploads/2017/12/py_machine.jpg">

### 5.2 Создайте следующую таблицу в ячейке с текстом

<table>
    <tr>
        <td></td>
        <td>До события</td>
        <td>После события</td>
    </tr>
    <tr>
        <td>1 контрольная точка</td>
        <td>250</td>
        <td>500</td>
    </tr>
    <tr>
        <td>2 контрольная точка</td>
        <td>350</td>
        <td>700</td>
    </tr>
    <tr>
        <td>3 контрольная точка</td>
        <td>400</td>
        <td>800</td>
    </tr>
     <tr>
        <td>Итог за победу</td>
        <td>1000</td>
        <td>2000</td>
    </tr>